body {
    color: black; 
    background-color:lightgray;
}

.quiz_wrapper {
    align-content: center;
    width: 75%;
    height: 200px;
    background-color: lightblue; 
}

button {
    background-color: purple;
}
